.btn {
    padding: 15px 35px;

    font-size: 18px;
    font-weight: 500;

    color: #000;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

.btn:hover {
    color: #fff;
    background-color: rgba(59, 203, 216, 0.338);
    border-color: rgb(59, 203, 216);

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform ease-in 0.5s, box-shadow ease-in-out 0.5s;
}