.container {
    padding: 20px 15px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input {
    width: 200px;
    padding: 5px;
    margin-bottom: 20px;

    background-color: #fff;
    outline-color: rgba(205, 43, 226, 0.6);

    border-radius: 5px;
}

.title{
    font-weight: 600;
}

.item{
    display: flex;
    gap: 5px;
    align-items: center;
}

.btn{
    padding: 3px 5px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}