.container {
    padding: 20px 15px;
}

.form{
    width: 350px;

    border-radius: 15px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);

    /* background-color: rgba(137, 43, 226, 0.111); */
}

.inputGroup{
    display: flex;
    flex-direction: column;

    padding: 15px;

    border: 1px solid;
    border-radius: 10px;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
}

.input{
    width: 305px;
    padding: 5px;
    margin-bottom: 20px;
    background-color: #fff;
    outline-color: rgba(205, 43, 226, 0.6);

    border-radius: 5px;
}

.btn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    padding: 10px 15px;

    font-size: 18px;
    font-weight: 500;

    color: #000;
    background-color: #fff;
    border: 1px solid rgb(188, 188, 188);
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

 .btn:hover {
     color: #fff;
    background-color: rgba(137, 43, 226, 0.2);
        border-color: rgb(137, 43, 226);
 }
