.container {
    padding: 20px 15px;
}

.form{
    max-width: 350px;

    margin-left: auto;
    margin-right: auto;
    padding: 25px;

    border: 1px solid;
    border-radius: 15px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.inputGroup{
    display: flex;
    flex-direction: column;
}

.label{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: 500;
}

.input{
    padding: 7px;
    margin-bottom: 20px;
    background-color: #fff;
    outline-color: rgba(205, 43, 226, 0.6);

    border-radius: 5px;

    @media screen and (min-width: 768px) {
        width: 220px;
    }

    @media screen and (min-width: 800px) {
        width: 250px;
    }

    @media screen and (min-width: 880px) {
        width: 305px;
    }
}

.addBtn {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    padding: 10px 15px;

    border: 1px solid rgb(188, 188, 188);
}

.addBtn:hover {
    color: #fff;
    background-color: rgba(137, 43, 226, 0.6);
    border-color: rgb(137, 43, 226);
    animation-name: changeBgColor;
    animation-duration: 1000ms;
}

@keyframes changeBgColor {
    0% {
        background-color: rgba(95, 129, 198, 0.2);
    }

    50% {
        background-color: rgba(102, 42, 158, 0.4);
    }

    75% {
        background-color: rgba(137, 43, 226, 0.5);
    }

    100% {
        background-color: rgba(137, 43, 226, 0.6);
    }
}