.wrapper {
    margin-left: auto;
    margin-right: auto;

    padding: 40px 25px;

    background-color: rgba(255, 255, 255, 0.85);
    border: 2px solid rgb(59, 203, 216);
    border-radius: 20px;

    box-shadow: 7px 7px 9px 3px rgba(59, 203, 216, 0.2), 10px 20px 30px rgba(0, 0, 0, 0.404);

    @media screen and (min-width: 560px) {
        width: 480px;
    }
}

.title {
    margin-bottom: 40px;
}