.wrapper {
    width: 320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label{
    font-weight: 600;
}

.input{
    width: 200px;
    padding: 5px;

    background-color: #fff;
    outline-color: rgba(205, 43, 226, 0.6);

    border-radius: 5px;
}