.list {
    padding-left: 0;
}

.item {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.itemName {
    font-weight: 600;
}

.itemNumber {
    font-weight: 400;
}

.btn {
    padding: 5px 10px;

    font-size: 18px;
    font-weight: 500;
    
    color: #000;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
    cursor: pointer;
}
    
.btn:hover {
    color: #fff;
    background-color: rgba(137, 43, 226, 0.2);
    border-color: rgb(137, 43, 226);
}
